
.container {
    box-sizing: border-box;
    width: 1192px;
    height: 100%;
    border: 25px solid #3a4965;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    color: #484848;
}

.table {
    table-layout: auto;
    border-collapse: collapse;
}


.regular-text {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.header-text {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.table-data {
    width: 277px;
    border: 1px solid transparent;
    box-shadow: 0.2em 0 1px rgba(122,122,122,0.1);
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
}

/********PLANS ROW************/

.standard-plan {
    background-color: #89c331;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.ultimate-plan {
    background-color: #f04a56;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.premium-plan {
    background-color: #20807c;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/********PRICING ROW************/

.price {
    display: inline-block;
    padding-left: 50px
}

.dollars {
    float: left;
    font-size: 60px;
    font-weight: bold;
}

.cents {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    line-height: 1.5;
}


.month {
    float: left;
}

.clearfix {
    content: '';
    clear:both;
    display: block;
}

/********ICONS COLUMN************/

.fas {
    color: #848484;
    font-size: 24px;
}


.first-column {
    width: 310px;
    height: 156px;
    background-color: #fafafa;
}

.regular-column {
    width: 277px;

}

.row {
    height: 69px;
    border: 1px solid grey;
}

.grey-bcg {
    background-color: #e3e3e3;
}

.light-grey-bcg {
    background-color: #f2f2f2;
}

/********BUTTONS************/


.button {
    color: #ffffff;
    font-size: 16px;
    padding: 17px 40px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: inset 0 -0.2em 10px rgba(122,122,122,1);
}

.contacts-btn {
    background-color: #484848;
}

.contacts-btn:hover {
    font-size: 18px;
    padding: 20px 45px;
}

.standard-bnt {
    background-color: #89c331;
}

.standard-bnt:hover {
    background-color: #89c331;
    font-size: 18px;
}

.ultimate-btn {
    background-color: #f04a56;
}

.ultimate-btn:hover {
    background-color: #f04a56;
    font-size: 18px;
}

.premium-btn {
    background-color: #20807c;
}

.premium-btn:hover {
    background-color: #20807c;
    font-size: 18px;
}

.btn-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.buttons-row {
    background-color: #eeeeee;
    height: 100px;
}

/********BACKGROUNDS************/

.ultimate-bcg {
    background-color: #f4f4f4;
}

.contacts-bcg {
    background-color: #dddddd;
}

.price-bcg {
    background-color: #fafafa;
}